HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/src/test/resources/h2_db.mv.db
/h2_db.trace.db
