.root {
    -fx-font-family: Helvetica;
    -fx-font-size: 18px;
    -fx-background-color: #2b2b2b;
    -fx-focus-color: transparent;
    -fx-accent: transparent;
    -fx-faint-focus-color: transparent;
}

.menu {
    -fx-background-color: #3C3F41;
}

.movies {
    -fx-vgap: 10;
    -fx-hgap: 10;
    -fx-padding: 10px;
    -fx-background-color: #2b2b2b;
}

.icon {
    -fx-background-position: center center;
    -fx-background-color: none !important;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24px 24px;
    -fx-cursor: hand;
    -fx-border-width: 0 !important;
}
.icon-search {
    -fx-background-image: url("/icons/search.png");
}
.icon-settings {
    -fx-background-image: url("/icons/settings.png");
}
.icon-back {
    -fx-background-image: url("/icons/back.png");
}
.icon-preferences {
    -fx-background-image: url("/icons/preferences.png");
}
.icon-left_arrow {
    -fx-background-size: 16px 16px;
    -fx-background-image: url("/icons/left-arrow.png");
}
.icon-right_arrow {
    -fx-background-size: 16px 16px;
    -fx-background-image: url("/icons/right-arrow.png");
}
.icon-upwards_arrow {
    -fx-background-size: 16px 16px;
    -fx-background-image: url("/icons/upwards-arrow.png");
}
.icon-play {
    -fx-background-size: 32px 32px;
    -fx-min-width: 32px;
    -fx-background-image: url("/icons/play.png");
}

.tab-pane {
    -fx-tab-max-height: 1.2em;
    -fx-tab-min-height: 1.2em;
}
.tab-content-area {
    -fx-background-color: #3C3F41;
    -fx-padding: 0.0;
}
.tab .tab-label {
    -fx-text-fill: #3C3F41;
    -fx-font-size: .9em;
    -fx-font-weight: bold;
}
.tab:top {
    -fx-background-color: transparent, transparent, #bababa;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.tab {
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 .2em;
    -fx-cursor: hand;
}
.tab:selected {
    -fx-background-color: transparent, #3C3F41;
    -fx-background-radius: 0;
    -fx-background-insets: 0 0 0 .2em;
}
.tab:selected .tab-label {
    -fx-text-fill: #bababa;
}
.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
    -fx-effect: none;
}

.field-text {
    -fx-background-color: #45494A;
    -fx-border-color: #646464;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-text-fill: #bababa;
}

.combo-box {
    -fx-background-color: #45494A;
    -fx-border-color: #646464;
    -fx-border-style: solid;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}
.combo-box .arrow {
    -fx-background-color: #bababa;
}

.background-default {
    -fx-background-color: #2b2b2b;
}

.background-black {
    -fx-background-color: #000000;
}

.dark {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.background-second {
    -fx-background-color: #3C3F41;
}

.scroll-pane > .viewport {
    -fx-background-color: #3C3F41;
}
.scroll-pane {
    -fx-background-color: #3C3F41;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #3C3F41;
    -fx-pref-width: 16;
    -fx-pref-height: 16;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #bababa;
    -fx-background-radius: 5em;
}

.corner {
    -fx-background-color: #3C3F41;
}

.button {
    -fx-background-color: #4c5052;
    -fx-text-fill: #bababa;
    -fx-cursor: hand;
    -fx-border-color: #5e6060;
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
}

.text-second {
    -fx-font-size: 0.9em;
    -fx-text-fill: #bababa;
}

.text-first {
    -fx-font-size: 1.2em;
    -fx-text-fill: #bababa;
}

.text-small {
    -fx-font-size: 0.8em;
    -fx-text-fill: #bababa;
}

.text-italic {
    -fx-font-style: italic;
}

.text-main {
    -fx-font-size: 1.1em;
    -fx-text-fill: #CB7936;
}

.text-loading {
    -fx-font-size: 1.6em;
    -fx-text-fill: #CB7936;
}

.hide {
    visibility: false;
}

.show {
    visibility: true;
}

.hand {
    -fx-cursor: hand;
}